.head_banner{
    height: auto;
    max-width: 97.5%;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
}   
.foot_banner{
    max-width: 97.5%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}   
.post-content {
    margin: -25px 20px 12px; 
    position: relative;
}
