/* Site settings */
body {background-color:#ffffff;font-family:Arial,sans-serif;font-size:13px;font-weight:normal;font-style:normal;text-decoration:none;color:#000000;letter-spacing:0em;}
a {text-decoration:underline;}
a:link {color:#B2080B; cursor:pointer;}
a:visited {color:#B2080B;}
a:hover {color:#FF8200;}
a * {color:#B2080B;text-decoration:underline;}
sup {font-size:0.7em; vertical-align: 0.3em;}
sub {font-size:0.7em;}
.xr_tl {position: absolute; white-space: pre; unicode-bidi:bidi-override;}
.xr_tr {
	position: absolute;
	white-space: pre;
	unicode-bidi:bidi-override;
	text-align:right;
	height: 121px;
}
.xr_tc {position: absolute; white-space: pre; unicode-bidi:bidi-override; text-align:center;}
.xr_tj {position: absolute; unicode-bidi:bidi-override; text-align:justify;}
.xr_ap {position: absolute; border:none;}
.xr_ar {position: absolute; display:block;}
.xr_ae {position: relative; border:none;}
.xr_tb {position: absolute; unicode-bidi:bidi-override;}
.xr_tu {unicode-bidi:bidi-override;margin-top:0px;margin-bottom:0px;}
.xr_pnav {position:absolute; display: block; background-image: url('03.png'); background-attachment:scroll; top: 8px; width: 16px; height: 16px;}
.xr_pnav:hover {background-image:url('04.png');}
.xr_pnavmenu {font-family:'Arial';font-size:12pt;color:#5d99d3;text-decoration:none;}
.xr_pnavmenu:link {color:#cccccc;}
.xr_pnavmenu:visited {color:#cccccc;}
.xr_pnavmenu:hover {color:#83b1e0;}
#xr_pnava {position: fixed; display: block; left: 0px; bottom: 0px; height: 24px; width: 120px; z-index:1100; background-image: url('0.gif');}
#xr_pnavh {position: fixed; display: block; left: 4px; bottom: -40px; height: 36px; width: 116px; background-color: #222222; border-radius: 8px; z-index:1200; visibility:hidden;transition: bottom 0.2s, visibility 0.2s;-moz-transition: bottom 0.2s, visibility 0.2s;-webkit-transition: bottom 0.2s, visibility 0.2s;-o-transition: bottom 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000;opacity: 0.9;}
#xr_pnavm {position: fixed; display: block; left: 108px; bottom: 8px; background-color: #222222; border-radius: 8px; padding: 16px; z-index:1100; visibility:hidden; opacity:0; transition: opacity 0.2s, visibility 0.2s;-moz-transition: opacity 0.2s, visibility 0.2s;-webkit-transition: opacity 0.2s, visibility 0.2s;-o-transition: opacity 0.2s, visibility 0.2s; box-shadow: 4px 4px 4px #000;}
#xr_pnava:hover #xr_pnavh {visibility:visible; bottom:4px;}
#xr_pnavm:hover {visibility:visible;}
#xr_pnavm:hover #xr_pnavp {visibility:visible;}
#xr_pnavp:hover #xr_pnavm {visibility:visible; opacity:0.9;}
.xr_c_Theme_Color_1 {color:#B2080B;}
.xr_c_Theme_Color_2 {color:#FF8200;}
.xr_c_Website_Backdrop {color:#E8E3DD;}
.xr_c_Light_Text {color:#FFFFFF;}
.xr_c_Text {color:#220000;}
.xr_c_Theme_Color_3 {color:#190000;}
.xr_c_Page_Background {color:#FFFFFF;}
